

*{
               margin: 0;
               padding: 0px;
               box-sizing: border-box;
               font-family: 'poppins', sans-serif;
}
body{
               background-color: rgb(179, 245, 212);
               color: aliceblue;
}
.header{
               position: fixed;
               top: 0;
               left: 0;
               width: 100%;
               /* background-color: #4E47FF; */
               padding: 20px 10% ;
               background-color: transparent;
               display: flex;
               justify-content: space-between;
               align-items: center;
}
.logo{
               font-size: 25px;
               color: #4E47FF;
               text-decoration: none;
               font-weight: 600;

}
.navbar a{
               font-size: 18px;
               color: #4E47FF ;
               text-decoration: none;
               font-weight: 600;
               margin-left: 35px;
               transform: .3s;


}
.navbar a:hover , acitve{
               color:#4E47FF ;
}
.home{
               height: 100vh;
               display: flex;
               align-items: center;
               padding: 0 10%;
}