.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-family);
  background-color: var(--bg-dark);
  color: var(--text-light);
  line-height: 1.7;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3{
  line-height: 1.2;
  margin-bottom: 1rem;
}

.nev-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--text-light);
  text-decoration: none;
}


.btn{
  padding: 12px 24px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-primary{
  background-color: var(--primary-color);
  color: var(--text-light);
}

.btn-primary:hover{
  background-color: #5548d9;
}

.btn-secondary{
  background-color: var(--primary-color);
  columns: var(--text-light);
}
.action-container{
  display: flex;
  align-items: center;
  gap: 40px;

}
.action-text{
  flex: 1;
}

.action-image{
  flex: 1;
}

.action-image{
  width: 100%;
  border-radius: 13px;

}
