
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



nav{
               display: flex;
               align-items: center;
                justify-content: space-between;
                margin: 0 150px ;
}
.nav-title{
               font-weight: 600;
               font-size: 22px;
               color: blue;
              

}
nav ul{
               list-style: none;
               align-items: center;
}
nav li a{
               text-decoration: none;


}
.blue{
               color: #4E47FF;
}
.btn-primary{
               background-color: #4E47FF;
               font-size: 15px;
               font-weight: bold;
               border: none;
               color: white;
               /* padding: 36px 12px; */
               border-radius: 7px;

}